Makefile
CTestTestfile.cmake
Results/
Expts/
LangData/NewParse
Makefile.in
aclocal.m4
autom4te.cache
compile
build
depcomp
INSTALL
install-sh
missing
configure
config.log
config.status
.deps
*.o
src/*.o
src/Makefile.in
src/parsebidix
src/parserdfcsv
src/bidixgen
